.mybutton{
	background-color:silver;
    height: 30px;
    width: 40px;
    color: black;
    font-size: 12px;
    border-width: 5px;
    border-bottom-color: black;
    border-top-color: black;

    
     
}
.screen{
	height: 40px;
	width: 250px;
	background-color:rgb(152,146,84);
	border-color: grey;
	border-radius: 20px;
	border height:30px; 
	font-size:30px;  
}
.btnon{height: 30px;
	   width: 40px;
	   border-radius: 40px;
	   background-color:rgb(87,221,168);
	   color: white;
	   font-size: 15px;
	   font-family: serif;
       
       
}
.btnOFF{
	height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color:rgb(87,221,168);
    color:white;
    font-size: 15px;
    font-family: serif;
}
.btnC{
	background-color: rgb(221,87,150);
    height: 30px;
    width: 40px;
    color: white;
    border-top-color: black;
    border-bottom-color: black;
    font-size: 15px;
    border-width: 5px;
    font-family: serif;
}
.btnMp{
	height: 20px;
	width: 60px;
	border-radius:20px; 
background-color: rgb(82,71,71);
	color: white;
}
.btnmm{
	height:20px; 
	width:60px;
	background-color: rgb(82,71,71);
	color: white;
	border-radius:20px;
}

.background{
	background-color:#009aff;
	height: 400px;
	width: 300px; 
	border-radius: 80px;

}
.h1{
	color:#0000006b;
	font-style: italic;
	font-stretch: semi-condensed;  
}
body{
	background:black;
}